.bounce-top {
  display: block;
  -webkit-animation: bounce-top 2s both;
          animation: bounce-top 2s both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.blink-2 {
  -webkit-animation: blink-2 0.6s 0.3s 3 both;
          animation: blink-2 0.6s 0.3s 3 both;
}


@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 2s ease-in-out 2s infinite both;
          animation: heartbeat 2s ease-in-out 2s infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  background-color: #ebecf2;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.blue-text {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 1;
}
nav a {
  color: #fff;
}
nav a:hover {
  color: #039dff;
}
nav .fa-bars {
  padding: 10px;
  color: #fff;
}
nav .navbar-toggler {
  color: #fff;
}
nav .navbar-brand {
  font-weight: bold;
}
nav .active {
  color: #039dff;
}

header {
  color: #fff;
}
header h1 {
  text-transform: uppercase;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/koparka1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -10;
}
header .facebook {
  position: fixed;
  top: 80px;
  right: -40px;
  height: 60px;
  width: 100px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 10%;
  z-index: 20;
  transition: 0.3s;
}
header .facebook i {
  font-size: 42px;
  padding: 10px;
}
header .facebook:hover {
  right: -30px;
  cursor: pointer;
}
header .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  z-index: 5;
}
header .btn-outline-light {
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.aboutus {
  transition: color 0.3s;
}
.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}

.aboutus-hover:hover {
  color: #039dff;
  cursor: pointer;
}

.aboutus-hero {
  position: relative;
  background-image: url("../img/water_small.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  z-index: 0;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}
.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
  font-size: 14px;
}
.aboutus-hero .aboutus-hero-item i {
  font-size: 30px;
}
.aboutus-hero .aboutus-hero-item .aboutus-hero-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio .carousel-item {
  position: relative;
  height: 550px;
}
.portfolio .carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.portfolio .carousel-caption h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.portfolio .carousel-indicators {
  padding-bottom: 20px;
}
.portfolio .card-group h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.portfolio .card-group p {
  font-size: 14px;
}

.job .card-body .card-title {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
.job .card-body .card-text {
  font-size: 14px;
}

.contact {
  transition: color 0.3s;
}
.contact .contact-color {
  color: #fff;
}
.contact .contact-color .underline {
  background-color: #fff;
}
.contact i {
  font-size: 32px;
}

.contact-card-title {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-card-text {
  font-size: 18px;
}

.contact-hover:hover {
  color: #333;
  cursor: pointer;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  nav {
    height: 82px;
  }
}
.aboutus-hero {
  background-image: url("../img/floor_large.jpg");
}

@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/koparka2.jpg");
  }
}/*# sourceMappingURL=main.css.map */